<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>MyWebApplication</display-name>
	<welcome-file-list>
		<welcome-file>login.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>ds</servlet-name>
		<servlet-class>com.deloitte.webapp.servlet.DemoServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>ds</servlet-name>
		<url-pattern>/ds</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>fs</servlet-name>
		<servlet-class>com.deloitte.webapp.servlet.FirstServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>fs</servlet-name>
		<url-pattern>/fs</url-pattern>

	</servlet-mapping>

	<servlet>
		<servlet-name>sc</servlet-name>
		<servlet-class>com.deloitte.webapp.servlet.ServletConfigEx</servlet-class>

		<init-param>
			<param-name>driver</param-name>
			<param-value>com.mysql.driver.MySQL</param-value>
		</init-param>

		<init-param>
			<param-name>username</param-name>
			<param-value>root</param-value>
		</init-param>


	</servlet>

	<servlet-mapping>
		<servlet-name>sc</servlet-name>
		<url-pattern>/sc</url-pattern>

	</servlet-mapping>


	<context-param>
		<param-name>A</param-name>
		<param-value>Apple</param-value>
	</context-param>

	<context-param>
		<param-name>B</param-name>
		<param-value>Ball</param-value>
	</context-param>

	<error-page>
		<!-- <exception-type>java.lang.Exception</exception-type> -->
		<error-code>500</error-code>
		<location>/myerror.jsp</location>
	</error-page>


</web-app>